[Unit]
Description=Birthday Reminder Telegram Bot
After=network.targets

[Service]
User=root
Group=root
WorkingDirectory=/Birthday-Reminder-Telegram-bot/
Environment="PYTHONPATH=/Birthday-Reminder-Telegram-bot/"
ExecStart=/Birthday-Reminder-Telegram-bot/.venv/bin/python /Birthday-Reminder-Telegram-bot/bot.py
Restart=always

[Install]
WantedBy=multi-user.target
